// 微软fluent design元素样式表
.fluent-card {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #f3f3f3;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 calc(4 * 0.5px) calc((4 * 1px)) rgba(0, 0, 0, 0.14);;
}