/* 全局样式 */
@import './root.scss';
@import './fluent.design.scss';
@import './responsive.scss';

@font-face {
  font-family: 'PPT';
  src: url('@/assets/font/PPT.ttf') format('truetype');
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'PPT', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a{
  text-decoration: none;
}

#root{
  width: 100%;
  height: 100%;
}

svg{
  stroke: var(--main-hover-color);
}

// 取消滚动条
.no-scrollbar{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}
// 阴影
.box-shadow{
   box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

.wrap{
  padding: 20px 25px;
}

.options-area{
  justify-content: space-between;
}
// flex基础布局
.flex-row{
  display: flex;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
// grid基础布局
.grid-2{
  display: grid;
  grid-template-columns: 50% 50%;
  .ant-form-item{
    padding: 0 5px;
  }
}

$colors: (
	'blue': blue,
	'red': red,
	'green': green,
	'black': black,
	'deepSkyBlue': #00BFFF,
  'primary': #409EFF,
	'info': #909399,
  'success': #67C23A,
  'warning': #E6A23C,
  'danger': #F56C6C,
	'white': white
);

@each $key, $color in $colors {
	.text-#{$key} {
		color: $color !important;
	}
  .btn-#{$key} {
		background-color: $color !important;
	}
};