[data-component="home"]{
  padding-top: 80px;
  min-height: 100%;
  .up{
    width: 100%;
    text-align: center;
    .my-intro{
      display: inline-block;
      padding-left: 20px;
      font-size: 30px;
      .name{
        text-align: left;
      }
      .intro{
        font-size: 16px;
        width: 280px;
        text-align: left;
      }
    }
  }

  .new-blog, .new-novel{
    width: 700px;;
    margin: 60px auto 0;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    // background-color: rgba(252, 212, 225, 0.5);
    // backdrop-filter: blur(18px);
    // @media screen and (max-width: 1280px) {
    //   width: 55%;
    // }
    .title{
      width: 100%;
      font-size: 18px;
      color: #F09DC1;
      justify-content: space-between;
      font-weight: 700;
      align-items: center;
    }
    .content{
      display: grid;
      grid-template-columns: 50% 50%;
      color: rgb(245, 245, 245);
      font-size: 16px;
    }
  }

  .new-novel{
    .title{
      color: #bfc;
    }
  }
}

@media screen and (max-width: 720px) {
  [data-component="home"]{
    padding-top: 20px;
    .up {
      .my-intro{
        padding: 0;
        display: block;
        margin: 0 auto;
        .name{
          text-align: center;
        }
        .intro{
          text-align: center;
          margin: 0 auto;
        }
      }
    }
    .new-blog, .new-novel{
      width: 400px;
      .content{
        grid-template-columns: 100%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  [data-component="home"]{
    .new-blog, .new-novel{
      width: 100%;
    }
  }
}