// $menu-bg-color: white;

// @supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
//   [data-component="menu-drawer"] {
//     background: transparent !important;
//     backdrop-filter: saturate(100%) blur(6px);
//   }
// }

// [data-component="menu-drawer"]{
//   position: absolute;
//   z-index: 999;
//   width: 100vw;
//   height: 100%;
//   top: -100%;
//   display: grid;
//   background: rgba(255,255,255, .92);
//   grid-template-columns: 32% 36% 32%;
//   transition: top .3s, opacity .2s;
//   &::after{
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position: absolute;
//     content: "";
//     z-index: -9;
//   }
//   .my-link{
//     width: 100%;
//     height: 100%;
//     transform: rotateZ(-45deg);
//     text-align: center;
//     margin: 15px 0 0 15px;
//     color: rgb(121, 85, 72);
//     font-size: 24px;
//     display: block;
//     .en {
//       font-size: 14px;
//       font-weight: 700;
//     }
//   }
//   .my-link-small{
//     width: 100%;
//     height: 100%;
//     transform: rotateZ(-45deg);
//     text-align: center;
//     margin: 5px 0 0 5px;
//     color: rgb(121, 85, 72);
//     font-size: 18px;
//     display: block;
//     .en {
//       font-size: 10px;
//       font-weight: 700;
//     }
//   }
//   .menu-d-left{
//     position: relative;
//     color: white;
    
//     &::after{
//       display: block;
//       position: absolute;
//       content: '';
//       background-image: url('@/assets/image/bg_left.jpg');
//       background-size: cover;
//       background-repeat: no-repeat;
//       filter: grayscale(30%);
//       width: 100%;
//       height: 100%;
//       left: 0;
//       top: 0;
//       z-index: -1;
//       // transform: rotateZ(7.5deg);
//     }
//   }
//   .menu-d-center{
//     position: relative;
//     display: block;
//     .menu-date{
//       top: 50px;
//       position: absolute;
//       color: black;
//       font-size: 20px;
//       font-style: italic;
//       // font-family: Arial, Helvetica, sans-serif;
//       text-align: right;
//       width: 100%;
//       padding-right: 50px;
//       box-sizing: border-box;
//     }
//   }
//   .menu-d-right{
//     position: relative;
    
//     &::after{
//       display: block;
//       position: absolute;
//       content: '';
//       background-image: url('@/assets/image/bg_right.jpg');
//       background-size: cover;
//       background-repeat: no-repeat;
//       filter: grayscale(30%);
//       width: 100%;
//       height: 100%;
//       right: 0;
//       top: 0;
//       z-index: -1;
//     }
//     .menu-top{
//       position: absolute;
//       width: 100px;
//       height: 100px;
//       background-color: $menu-bg-color;
//       top: 70px;
//       left: 50%;
//       margin-left: -50px;
//       transform: rotateZ(45deg);
//     }
//     .menu-left{
//       position: absolute;
//       top: 150px;
//       left: 50%;
//       width: 100px;
//       height: 100px;
//       margin-left: -130px;
//       background-color: $menu-bg-color;
//       transform: rotateZ(45deg);
//     }
//     .menu-right{
//       position: absolute;
//       top: 150px;
//       right: 50%;
//       width: 100px;
//       height: 100px;
//       margin-right: -130px;
//       background-color: $menu-bg-color;
//       transform: rotateZ(45deg);
//     }
//     .menu-bottom{
//       position: absolute;
//       top: 230px;
//       left: 50%;
//       width: 100px;
//       height: 100px;
//       margin-left: -50px;
//       background-color: $menu-bg-color;
//       transform: rotateZ(45deg);
//     }

//     .menu-about{
//       position: absolute;
//       top: 270px;
//       left: 50px;
//       height: 60px;
//       width: 60px;
//       background-color: $menu-bg-color;
//       transform: rotateZ(45deg);
//     }
//     .menu-exit{
//       position: absolute;
//       top: 50px;
//       height: 60px;
//       width: 60px;
//       right: 50px;
//       background-color: $menu-bg-color;
//       transform: rotateZ(45deg);
//     }
//   }

//   .drawer-footer{
//     position: absolute;
//     text-align: center;
//     height: 36px;
//     line-height: 36px;
//     background: rgba(34, 34, 34, 0.72);
//     backdrop-filter: saturate(180%) blur(18px);
//     font-family: Arial;
//     color: white;
//     bottom: 10px;
//     width: 100%;
//   }

// }

// @media screen and (max-width: 1440px) {
//   [data-component="menu-drawer"]{
//     grid-template-columns: 50% 50%;
//     .menu-d-left{
//       display: none;
//     }
//     .menu-d-center{
//       display: block;
//     }
//   }
// }

// @media screen and (max-width: 720px) {
//   [data-component="menu-drawer"]{
//     grid-template-columns: 100%;
//     .menu-d-left{
//       display: none;
//     }
//     .menu-d-center{
//       display: none;
//     }
//   }
// }

[data-component="menu-drawer"]{
  top: -10vh;
  position: absolute;
  z-index: 99;
  width: 80%;
  height: 120vh;
  right: -110%;
  padding: 17.5vh 0 0 0;
  transform: rotate(7.5deg);
  // background: rgba(53, 91, 174, .72);
  background: rgba(255, 255, 255);
  // background: rgba(60, 129, 216, 0.72);
  // backdrop-filter: saturate(180%) blur(18px);
  transition: .3s;
  .my-link{
    padding-left: 30px;
    margin-bottom: 25px;
    color: var(--main-color);
    font-size: 24px;
    display: block;
    .en{
      font-size: 14px;
      // font-weight: 700;
    }
    &:hover{
      color: var(--main-hover-color);
    }
  }
}