[data-component="loading"]{
  #loading-ill{
    text-align: center;
    img{
      width: 400px;
      height: 400px;
      transform: rotate(40deg);
      opacity: 0.25;
      animation: loadingIllust 150s linear 0s infinite;
      transition: 1.5s;
    }
    @keyframes loadingIllust {
      0%{
        transform: rotate(30deg);
      }
      100%{
        transform: rotate(-330deg);
      }
    }
  }
  #loading{
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    transition: 1.5s;
    span{
      animation: progressFade .8s linear 0s infinite alternate;
    }

    @keyframes progressFade {
      0% {
        opacity: 0.25;
      }
      100% {
        opacity: 1.0;
      }
    }
  }
}