.content {
  position: relative;
  overflow: auto;
  // flex: 1;
  height: calc(100% - var(--navbar-height));
}
.layout{
  // display: flex;
  // flex-direction: column;
  height: 100%;
}
.logo-container{
  position: absolute;
  z-index: 99;
}

.header-phone{
  height: 40px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
.header-holder{
  display: block;
  height: 40px;
}

// @media screen and (max-width: 720px) {
//   .content {
//     height: calc(100% - 36px);
//   }
//   .header{
//     display: none;
//   }
//   .header-phone, .header-holder{
//     display: block;
//   }
// }

.menu-wrap{
  position: fixed;
  bottom: 15px;
  left: 0;
  z-index: 99;
  transition: all 0.5s ease;
  [data-component="menu-item"] {
    margin-left: -180px;
  }
  [data-component="menu-item"]:nth-child(1) {
    transition: all 0.3s ease;
  }
  [data-component="menu-item"]:nth-child(2) {
    transition: all 0.6s ease;
  }
  [data-component="menu-item"]:nth-child(3) {
    transition: all 0.9s ease;
  }
  [data-component="menu-item"]:nth-child(4) {
    transition: all 1.2s ease;
  }
  &:hover {
    [data-component="menu-item"] {
      margin-left: 0px;
    }
  }
}